@font-face {
    font-family: 'BM JUA';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/BMJUA/BMJUA.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/BMJUA/BMJUA.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/BMJUA/BMJUA.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/BMJUA/BMJUA.ttf') format('truetype');
}
